* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    height: 100vh;
}



header {
   height: 200px;
   background-image: url(—Pngtree—web\ development\ illustration\ modern_4461019.png);
   background-size: 250px 250px;
   background-position-y: 50%;
   background-position-x: 50%;
   background-repeat: no-repeat;

}



h3 {
    margin-left: 0.5rem;
}


a {
    text-decoration: none;
}

.container {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.Google-button {
    display: flex; 
    margin-top: 1.5rem;
    text-align: center;
}


.Google-button i {
    border: 2px solid lightgrey;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5%;
}

.Google-button input[type=button] {
    background-image: url(Googlebild.png);
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 0.5rem;
    border-radius: 4px;
    width: 65%;
    padding: 0.5rem;
    text-align: center;
    background-color: white;
}



form p {
    margin-top: 0.5rem;
    height: 2px;
}


.strength-bar div:nth-of-type(1){
    background-color: #badc58;
}
.strength-bar div:nth-of-type(2){
    background-color: #badc58;
    
}

.strength-bar div:nth-of-type(3){
    background-color: #badc58;
    
}



h4 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

form {
    width: 100%;
    display: grid;
    grid-template-rows: 40% 40% 40%;
}



input[type=password], input[type=text] {
    height: 2rem;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: medium;
}


.password-strength{
    margin-top: 1.5rem;
    
}

.strength-bar {
    display: flex;
    margin-top: 0.5rem;
}

.strength-bar div {
   height: 3px;
   width: 100%;
    margin-right: 0.5rem;
   border: 1px solid #badc58;
   border-radius: 5px;
}


.terms-check {
    margin-top: 1rem;
    font-size: 0.79rem;
    display: flex;
    text-align: start;
    color: grey;
}


.terms-check input[type=checkbox] {
    margin-right: 0.5rem;
}





.create-account {
    margin-top: 1rem;
    width: 100%;
    height: 2.8rem;
    margin-bottom: 1.5em;
    background-color: #f0932b;
    border: 1px solid #f0932b;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
}

.create-account:hover {
    background-color: #82b74b;
    border-color: #82b74b;

}


@media only screen and (min-width: 400px) {
  
    form {
        display: grid;
        grid-template-rows: 65% 65% 65%;
    }

    .password-strength {
        margin-bottom: 1rem;
    }

    .password-and-bar {
        margin-top: 5rem;
    }

    .Google-button i {
        margin-left: 10%;
    }


}

@media only screen and (min-width: 768px) {
    
    header {
        display: none;
    }


  .main-container {
    background-image: url(—Pngtree—web\ development\ illustration\ modern_4461019.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position-y: -7rem;
    background-position-x: -49em;
    animation-name: slide;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    overflow-y: hidden;
  }

  .container {
      width: 40%;
      display: grid;
      position: absolute;
      left: 25rem;
      top: 5.5rem;
  }


  .container h2 {
    font-size: 45px;
    margin-bottom: 0.5rem;
  }


  .already-account{
    color: grey;
  }



}



@media only screen and (min-width: 1400px) {

 .container {
    left: 45rem;
    top: 10rem;
    height: 65%;
 }
 @keyframes slide {
    from { background-position-x: -80em;}

    to {
        background-position-x: -30em;
    }
 }


 

 .main-container {
    background-image: url(—Pngtree—web\ development\ illustration\ modern_4461019.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position-y: -4rem;
    background-position-x: -30em;
    animation-name: slide;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }
 

  
}


















